<launch>
  <arg name="set_port" default="/dev/ttyMotor"/>
  <arg name="set_odom_mode" default="wheel_only"/>
  <node pkg="Olaf_bringup" type="odom_hh.cpp" name="odom_hh" output="screen">
      <param name="port" value="$(arg set_port)"/>
      <param name="baud" value="115200"/>
      <param name="odom_mode" value="$(arg set_odom_mode)"/>
      <param name="modelName" value="r1"/>
  </node>
  <node pkg="Olaf_bringup" type="velCal.cpp" name="velCal" output="screen">
      <param name="modelName" value="r1"/>
  </node>
</launch>