<launch>
  <arg name="set_port" default="/dev/ttyMotor"/>
  <arg name="set_odom_mode" default="wheel_only"/>
  <!-- <node pkg="Olaf_bringup" type="pub_vel" name="pub_vel" output="screen">
      <param name="modelName" value="r1"/>
  </node> -->
  <node pkg="Olaf_bringup" type="odom_sh" name="odom_sh" output="screen">
      <param name="port" value="$(arg set_port)"/>
      <param name="baud" value="115200"/>
      <param name="odom_mode" value="$(arg set_odom_mode)"/>
      <param name="modelName" value="r1"/>
  </node>
  <node pkg="Olaf_bringup" type="velCal" name="velCal" output="screen">
      <param name="modelName" value="r1"/>
  </node>
</launch>