<?xml version="1.0"?>

<launch>
  <!-- Always set GUI to false for AWS RoboMaker Simulation
       Use gui:=true on roslaunch command-line to run with a gui.
  -->
  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find aws_robomaker_hospital_world)/worlds/base9.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="$(arg gui)"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
  </include>

  <arg name="model" default="$(find hospital_bot)/description/urdf/hospital_bot.urdf"/>
  

  <param name="robot_description" textfile="$(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>
  

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hospital_bot)/rviz/hospital_bot_navigation.rviz"/>
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model hospital_bot -param robot_description -x 0.2 -y 0.05 -z 0.03"/>

  <!-- Map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find hospital_bot)/map/final_map.yaml"/>

  <!-- AMCL -->
  <node name="amcl" pkg="amcl" type="amcl">
    <remap from="scan" to="/laser/scan"/>
    <param name="base_frame_id" value="base_footprint"/>
    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_z" value="0.0"/>
  </node>

    <!-- movd_base -->
    <include file="$(find aws_robomaker_hospital_world)/launch/move_base.launch"/>
</launch>